:root{
  --primeira_cor: rgb(34, 34, 34);
  --segunda_cor: white;
  --terceira_cor: gray;
  --quarta_cor: #B2FF59;
  --quinta_cor: #00C853;
}
body{
  background-color: var(--primeira_cor);
  color: var(--primeira_cor);
  font-family: sans-serif;
}
.navBar{
  background-color: var(--segunda_cor);
  padding: 1rem 5rem;
}
.imgLogo{
  border-radius: 50rem;
  max-width: 50px;
  max-height: 50px;
}
.titleLogo{
  display: flex;
  align-items: center;
}
.titleLogo span{
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.mainMenu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu{
  display: flex;
  justify-content: center;
}