@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
:root{
    --primeira-cor: white;
    --segunda-cor: gray;
    --terceira-cor: black;
    --quarta-cor: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--terceira-cor);
    list-style: none;
    font-family: "Kode Mono", Arial, Helvetica, sans-serif;
}
/* header */
header{
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.nome {
    font-size: 1.5rem;
    display: flex;
    width: 35%;
    padding-left: 1rem;
    align-items: center;
}
.nome img{
    max-width: 50px;
}
.navBar{
    width: 65%;
}
.navBar li{
    display: inline;
    padding: 0 1rem 0 1rem;
}
.navBar ul{
    text-align: end;
}
/* main */
/* home */

#home{
    text-align: center;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
    background-size: contain;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home h1{
    font-size: 4rem;
    text-transform: uppercase;
}
#home article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home p{
    padding: 10px 50px 0;
    max-width: 750px;
}
/* sobre */
#sobre{
    display: flex;
    padding: 0 15%;
    gap: 40px;
}
.historia{
    width: 50%;
    text-align: center;
}
.historia p{
    text-align: justify;
}
.skills{
    width: 50%;
    text-align: center;
}
.skills article{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skills span{
    background-image: var(--quarta-cor);
    padding: 20px;
    font-size: 1.5rem;
    color: var(--segunda-cor);
    border-radius: 10%;
}
/* outros */
section{
    padding: 60px 0;
}
h2{
    font-size: 3rem;
    margin-bottom: 30px;
}
p{
    font-size: 1.5rem;
}
.button {
    margin-top: 50px;
}
.button a{
    border: 1px solid var(--terceira-cor);
    padding: 1rem 3rem;
    font-size: 1.5rem;
}